<h1>Mods</h1>

<bx-unordered-list>
  <% @mods.each do |mod| %>
    <bx-list-item>
      <bx-link href="<%= mod_path(mod) %>"><%= mod.title %></bx-link>
    </bx-list-item>
  <% end %>
</bx-unordered-list>

<p>
  <% if session[:user_id] %>
    <bx-link href="<%= new_mod_path %>">Publish New Mod</bx-link>
  <% end %>
</p>

<p>
  <bx-link href="<%= root_path %>">Back</bx-link>
</p>