<%= render 'dashboard/header' %>

<h1>Mods</h1>

<ul>
  <% @mods.each do |mod| %>
    <li>
      <%= link_to mod.title, mod %>
    </li>
  <% end %>
</ul>

<p>
  <% if (session[:user_auth_id]) %>
    <bx-link href="<%= new_mod_path %>">Publish New Mod</bx-link>
  <% end %>
</p>

<p>
  <bx-link href="<%= root_path %>">Back</bx-link>
</p>