<div class="sign-in-form">
  <h1>Sign In</h1>

  <a type="submit" class="btn btn-primary" href="/auth/google_oauth2" role="button">Connect with Google</a>

  <% if Rails.env.development? %>
    <%= form_with url: '/auth/developer', method: :post, data: { turbo: false } do |form| %>
      <%= form.submit "Connect as Developer", class: 'btn btn-warning' %>
    <% end %>
  <% end %>

  <p><a href="<%= root_path %>">Back</a></p>
</div>
