.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 20px;
}

bx-form-item {
  margin-bottom: 24px;
}

bx-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

bx-toggle {
  max-width: 130px;
}

#in-form {
  max-width: 960px;
}

#search-horiz {
  // two divs next to each other
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-horiz-left {
  // left div
  display: inline-flex;
  flex-grow: 1;
  margin-right: 40px;
}

#search-horiz-right {
  // right div
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 100px;
}

.selected-file {
  background: #ddeeff;
  border-radius: 0.2em;
  margin-top: 1px;
  padding: 0.2em;
}

.selected-file input[type='file'] {
  display: none;
}
