#view-mod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#view-mod-left {
  min-width: 500px;
}

#view-mod-right {
  padding-top: 0.5em;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

#mod-carousel {
  max-width: 896px;
}