.swiper-slide {
  max-height: 300px;
  display: inline-flex;
}

img {
  object-fit: contain;
}

.pink {
  background-color: lightpink;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}

#view-mod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

#view-mod-left {
  min-width: 500px;
}

#view-mod-right {
  padding-top: 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}