$white: #ffffff;

//$theme-colors: (
//    "light":      #eaeaea,
//    "dark":       #12103a,
//    "primary":    #403d62,
//    "secondary":  #b33350,
//    "info":       #d467ff,
//    "success":    #009e5d,
//    "warning":    #dfca00,
//    "danger":     #ed1f00,
//);
